@charset "utf-8";

/*header*/
body{background:#F2F3F2;}
.container{position: relative;}
.header{width: 100%;text-align: center;padding: 15px 0;}
.header img{width: 75px;height: auto;}
.dingdan_content{width: 80%;margin: 0 5%;background: #fff;padding: 5%;padding-bottom: 80px;border-radius: 8px}
.ewm_box{width: 80%;margin: 5px auto;}
.ewm_box img{width: 100%;height: auto;padding: 5px 0;}
.ewm_box p{text-align: center;font-size: 18px;}
h4.title{font-size: 16px;color: #848484;padding:5px 0;}


/*table*/
.tab_list{border: 1px solid #F3F3F3;border-bottom: none;width: 100%;font-size: 14px;border-radius: 5px;}
.tab_list td{border-bottom: 1px solid #F3F3F3;padding: 5px 0;}
td.left_name{width: 70%;padding-left: 2%;}
td.right_money,td.zongjia{text-align: right;width: 25%;color: #FF5858;padding-right: 2%;}

/*button*/
.return_btn{width: 100%;padding: 10px 0;text-align: center;position: fixed;bottom: 0;left: 0;
	background: #fff;border-top: 1px solid #ccc;}
.return_btn button{border: none;background: #AEAEAE;border-radius: 5px;width: 80%;padding: 10px 0;
	color: #fff;cursor: pointer;font-size: 16px;margin:0 auto;}









