@charset "utf-8";
/*公共样式*/
body,h1,h2,h3,h4,h5,p,ul,ol,li{margin:0px;padding:0px;}
body{font: 12px/1.5 "SimHei","Microsoft Yahei","SimSun";}
ul,ol,li{list-style: none;}
img{vertical-align: middle;border:none;}
a:link,a:visited{text-decoration: none;color:#333;}
input{vertical-align: middle;outline:none}
a,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
/*container*/
.container{margin: 0 auto;min-width: 320px;max-width: 820px;width: 100%;}

p.base_head{padding: 8px 2%;width: 96%;background: #fff}
p.base_head img{width: 30px;}