/* CSS Document */
   body{padding:0px;margin:0px;background:#f5f4f4;font-size:1em;font-family:"微软雅黑",Arial, Helvetica, sans-serif;}
  .container{max-width:640px;min-width:300px;margin:0px auto;text-align:center;width:100%;}
   ul{padding:0px;margin:0px;}
   ul li{list-style:none;}
  .top{height:45px;border-bottom:2px solid #831414;background:#b02626;position:fixed;width:100%;max-width:640px;min-width:300px;position:relative;}
  .banner img{width:100%;}
  .main{width:96%;margin:4px auto;}
  .footer{margin:0px auto;position:absolute;bottom:0px;position:fixed;height:50px;background-color:#efeeee;max-width:640px;color:#929292;border-top:2px solid #831414;width:100%;min-width:300px;}
   .main ul li{background:#fff;height:55px;margin-top:5px;padding-top:10px;}
  .main ul li div{float:left;}
  .pic{width:14%;text-align:right;}
  .pic img{width:44px;background:#b02626;}
  .text{width:66%;text-align:left;padding-left:10px;font-size:15px;padding-top:12px;}
  .jiantou{width:15%;padding-top:12px;}
  .jiantou img{width:10px;}
  .footer img{width:45px;}
