/* CSS Document */
body{   
    font-family: "微软雅黑",Helvetica,"黑体",Arial,Tahoma;
    font-size: 14px;   
    padding:0px;
	margin:0px 0px 2px 0px;
	background-color:#f9f5f5;
	x-overflow:hidden;
	y-overflow:auto;
	}
#container{
    max-width:640px;
	margin:0px auto;
	min-height:100%;	
	y-overflow:auto;		
	}
/*banner开始*/	
#top_header{
    height:240px;	
	text-align:center;
	background:url(images/banner.png) no-repeat;	
	}
#banner{
    color:#fff;font-size:26px;font-weight:bold;letter-spacing:1px;padding-top:30px;
	}
.div_2{padding-top:8px;}
.div_2 img{width:32px;}
.div_2 span{font-size:25px;letter-spacing:0px;font-weight:normal;}
.div_3{padding-top:8px;font-weight:normal;font-size:20px;}	
#t_footer{ 	
	margin:20px auto;
	width:209px;
	padding-top:20px;
	}
#t_footer a{
	text-decoration:none;	
	font-size:15px;
	width:50px;
	padding-left:13px;	
	display:block;
	}	
#t_footer div{
    float:left;	
	}
.login a{
    background:url(images/login_1.png) no-repeat 7px;	
	color:#06f;
	}	

.reg a{
    background:url(images/reg_1.png) no-repeat 7px;	
	color:#06f;	
	}	

.gwc a{
    background:url(images/gwc_1.png) no-repeat 7px;	
	color:#06f;	
	}
/*banner结束*/	
/*左侧导航开始*/			
#navigation{
    border:1px solid #06f;background:#fff;
	width:170px;
	height:300px;
	bottom:80px;
	left:23px;
	position:fixed;
	}
#navigation_top{
	width:145px;margin:8px auto;text-align:left;
	}
#navigation_top img{width:18px;vertical-align:middle;}
.navi_span1{margin-left:17px;}
#navigation_top a{
    text-decoration:none;
	font-size:12px;	
	color:#06f;
	}

#navigation_top a span{
	font-size:14px;
	line-height:35px;
	}						
#globallink{
    background:#FFFFFF;
    border-radius: 50px;
    bottom: 65px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    height: 50px;
    left: 15px;    
    padding: 0;
	margin:0px;
    position: fixed;
    text-align: center;  
    width: 50px;
	}
#globallink1{
    width:40px;
	height:40px;
	background:#06f;
	border-radius:50px;
	margin:4px auto;
	border:1px solid #257BB6;		
	}
#globallink2{
    background:url(images/globallink.png) no-repeat 4px 8px;
	height:35px;
	}
/*左侧导航结束*/	
/*新闻中心开始*/
#news{
	margin:9px auto;
    border:1px solid #ccc;	
	border-radius:6px 6px 0px 0px;
	}
#n_div1{
    background:#66b0dd;
	border-radius:6px 6px 0px 0px;
	height:40px;	
	}
.xwzx{
    font-size:17px;	
	color:#fff;
	width:180px;
	padding:7px 0px 0px 15px;
	}
.more{
    width:50px;
	height:19px;
	text-align:center;
	background:#e8e8e8;
	padding-top:2px;
	border-radius:15px;float:right;margin:-20px 20px 0px 0px;
	}	
.more a{color:#06f;text-decoration:none;font-size:12px;}			
#n_div2 div{
    background:url(images/jt.png) no-repeat 98% 55%;
	height:40px;
	border-bottom:1px solid #ccc;
	}
#n_div2 div img{
     width:15px;
	 position:relative;
	 top:-12px;
	 left:6px;
	}	
#n_div2 div a{
    text-decoration:none;
	font-size:15px;
	color:#666;overflow:hidden;margin-left:10px;
	}
/*新闻中心结束*/
/*热卖商品开始*/		
#hot{
	margin:9px auto;
    border:1px solid #ccc;
	height:250px;
	border-radius:6px 6px 0px 0px;
	}
#h_div1{
    background:#66b0dd;
	border-radius:6px 6px 0px 0px;
	height:40px;	
	}
.h_div2_1{
    border-bottom:1px solid #ccc;
	height:105px;		
	}
.h_div2_1 img{
	margin:5px;
	}	
.h_div2_1 div{
	float:left;
	}
.h_div2_1 div a{
	color:#9d9d9d;
	font-size:13px;
	text-decoration:none;
	}
.h_div2_1 div p{
	line-height:8px;
	}
.p1{
	padding:0px 0px 8px 5px;
	color:#06f;
	}
.span1{
    text-decoration:line-through;	
	}
.span2{
     color:#961313;
	 font-weight:bold;font-size:14px;
	}		
.miaoshu{
    margin-left:13px;
	width:45%;	
	}
/*热卖商品结束*/	
/*新车商城开始*/
#xin{
	margin:9px auto;
    border:1px solid #ccc;	
	border-radius:6px 6px 0px 0px;
	}
#x_div1{
    background:#66b0dd;
	border-radius:6px 6px 0px 0px;
	height:40px;	
	}
#x_div2{
    padding-bottom:20px;	
	}
#x_div2_1{
	text-align:center;
    display: inline-block;
	height:100px;
	width:206px;
	margin:16px 0px 0px 1px;		
	}
#x_div2_1 a{
    text-decoration:none;	
	}	
#x_div2_1 p{
    line-height:6px;
	text-align:left;
	padding-left:6px;
	}
.p2{    
	color:#06f;
	}		
.a_div2{    
	max-width:160px;
	margin:auto;
	color:#9d9d9d;
	}
#footer{
    margin-top:-7px;
	}

#f_2{	
	text-align:center;
	color:#666;
	font-size:13px;border:1px solid #f9f5f5;max-width:640px;margin-bottom:58px;
	}
#f_2 p{
    line-height:10px;	
	}		
#f_3{
    height:55px;
	background:#66b0dd;position:fixed;bottom:0px;max-width:640px;width:100%;z-index:1;
	}			
.f_3_div{
     float:left;text-align:center;margin-top:6px;width:33%;
	}
.f_3_div a{text-decoration:none;}	
.f_miaoshu{
     font-size:12px;margin-top:4px;color:#fff;	
	}							
		