body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:700px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:700px;
}
#u1 {
  position:absolute;
  left:2px;
  top:342px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:20px;
  top:190px;
  width:360px;
  height:50px;
  opacity:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:240px;
  width:360px;
  height:50px;
  opacity:0;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:290px;
  width:360px;
  height:50px;
  opacity:0;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:20px;
  width:110px;
  height:60px;
  opacity:0;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:340px;
  width:360px;
  height:50px;
  opacity:0;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
